.noStreamComponent {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    
    svg {
        padding-bottom: 20px;
    }

    .noApiStreamLogo {
        fill: var(--color-text-primary);
        color: var(--color-text-primary);
    }

    span {
        text-transform: uppercase;
        color: var(--color-text-primary);
        margin: auto;
    }
}